.problem-container{
    padding: 0;
    margin-top: 50px;
}
.problem-title{
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #f8f8f8;
}

.problem-title-container{
    background: linear-gradient(to bottom right, #20a0ff, #D585FF);
    padding-top: 5%;
    padding-bottom: 8%;
}

.details-container{
    margin-left: 5%;
    color: dimgrey;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-top: 50px;
}
.description-container{
    padding-top: 25px;
    padding-left: 25px;
    font-size: 18px;
}