.landing-div{
    background: rgb(0, 183, 241);
    height: 100%;
}

.monitor{
    background: url("../resources/cs2_edit.png") no-repeat top;
    height: 670px;
}

.code-portion{
    /*position: absolute;*/
    /*left: 10em;*/
    /*top: 8em;*/
    margin-top: 7em;
    width: 44em;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.code-portion .editor {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 4.2em;
    border-right: .02em solid black;
    white-space: nowrap;
    width: 21.1ch;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: typing 2s steps(21, end),
    blink-caret .5s step-end infinite alternate;
}
