.graphNode{
    border-radius: 100%;
    font-size: 20px;
    height: 3em;
    width: 3em;
    border: solid 0.3em;
    color: #f8f8f8;
    text-align: center;
    padding-top: 8px;
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.graphNode:hover{
    cursor: grab;
}
.sidebarStyle{
    width: 20em;
    padding-top: 3.6em;
    overflow-x: hidden;
    position: relative;
}
.contentStyle{
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 1em;
}
.sidebarOpener{
    transform: rotate(270deg);
    position: absolute;
    left: -31px;
    top: 31px;
    background: antiquewhite;
    padding: 2px;
    border-radius: 5px;
}
.sidebarOpener:hover{
    cursor: pointer;
}

.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

.panel-heading{
    border-radius: 0;
}
.panel{
    border-radius: 0;
    margin-bottom: 0;
}
.panel-body{
    padding:5px;
}
.graphNodeList{
    border-radius: 100%;
    height: 3em;
    width: 3em;
    color: #fff;
    background-color: #20a0ff;
    border: solid 0.5em #20a0ff;
    text-align: center;
    padding-top: 4px;
    display: inline-block;
}
.no-padding{
    padding: 0;
}
.edge{
    width: 100px;
    height: 5px;
    border: solid 3px indianred;
    position: absolute;
    background-color: indianred;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 1;
}

.solution-sidebar{
    border-right: solid 1px #dddddd;
    display: inline-block;
    height: 100%
}
.solution-sidebar .panel-heading{
    background: #eeeeee;
    border: none;
}
.solution-sidebar .panel-heading .panel-title{
    font-size: 14px;
}

.solution-sidebar .panel{
    border: none;
}

.draggable{
    display: inline-block;
    position: absolute;
}

.arrayElement{
    display: table-cell;
    color: #20a0ff;
    width: 3em;
    height: 3em;
    text-align: center;
    vertical-align: middle;
    border: solid 2px #20a0ff;
    background-color: #f8f8f8;
    font-weight: bolder;
    font-size: 16px;
    position: absolute;
    z-index: 2;
}
.array-size-panel .modal-body{
    padding: 10px !important;
    text-align: center;
}
.array-size-panel .modal-header{
    background: #20a0ff;
    color: whitesmoke;
    font-size: 20px;
    transition: background-color 0.5s;
}
#array_bounds{
    display: inline-block;
}