.login-panel{
    -moz-box-shadow:0 14px 40px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 14px 40px rgba(182, 182, 182, 0.75);
    box-shadow: 0 14px 40px rgba(182, 182, 182, 0.75);
    height: 100%;
    border: none;
    padding: 0;
}
.login-panel .panel-body{
    padding: 0;
    height: 100%;
}
.small-side{
    width: 37%;
    display: inline-block;
    background: url("../../resources/bg1.jpg") no-repeat bottom;
    background-size: cover;
    height: 100%;
}
.large-side{
    width: 63%;
    display: inline-block;
    height: 100%;
    padding: 2em;
}
.overlay{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2em;
    background: rgba(0, 183, 241, .1);
}
.overlay .title{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}